<body>
<div>
    <form id="character-form" [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
        <h2>Sign up!</h2>
        <div><label for="email">Email: </label><input type="text" formControlName="email"/></div>
        <div><label for="password">Password: </label><input type="password" formControlName="password"/></div>
        <div><label for="rePassword">rePassword: </label><input type="password" formControlName="rePassword"/></div>
        <div><label for="name">name: </label><input type="text" formControlName="name"/></div>
        <div>
            <button type="submit">Register</button>
        </div>
</form>
</div>
</body>