<body>
    <div>
<table>
    <tr>
      <th>Name</th>
      <th>Attackmodifier</th>
      <th>Defensemodifier</th>
      <th>Hpmodifier</th>
      <th>Price (coin)</th>
      <th>Minimum level</th>
      <th>Story</th>
      <th>Picture</th>
    </tr>
    <tr *ngFor="let item of items | async">
        <td>{{item.name}}</td>
      <td>{{item.attackmodifier}}</td>
      <td>{{item.defensemodifier}}</td>
      <td>{{item.hpmodifier}}</td>
      <td>{{item.price}}</td>
      <td>{{item.minimumlevel}}</td>
      <td>{{item.story}}</td>
      <td><img *ngIf="item.picture" [src]="item.picture" alt="Item image" style="width:100px; height:auto;"></td>
      <td>
        <select [(ngModel)]="selectedCharacter">
          <option *ngFor="let character of characters" [ngValue]="character">{{ character.name }}</option>
        </select>
        <button (click)="buyItem(item)">Buy {{item.name}}</button>
      </td>
    </tr>
  </table>
</div>
</body>

