<div class="toolbar" role="banner">
  <img src="assets/dice.png"
    width="40"
    alt="Angular Logo"
  />
  <h2>Dungeons And Dragons Helper</h2>
  
    <div class="spacer"></div>
    <div class="github-star-badge" (click)="toggleDiv()">
      <span> </span>
      <a class="circle-link" title="Hide menu" rel="noopener">
        <img src="assets/menu.png" width="51" height="51">
      </a>
  </div>
    
</div> 


<div class="content" role="main">

  <div class="card-container" *ngIf="showDiv">
    <h1>Functions</h1>
  </div>

  <div class="card-container" *ngIf="showDiv">
    
    <div class="side-image left-image">
      <img src="assets/torch.png" alt="Torch Image">
    </div>
    <div class="side-image right-image">
      <img src="assets/torch.png" alt="Torch Image">
    </div>

    <a class="card" routerLink="/harc">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Fight simulation</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>
    <a class="card" routerLink="/login">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Log in</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>
    <a class="card" routerLink="/signup">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Regitration</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>
    <a class="card" routerLink="/krealas">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Add hero</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>
    <a class="card" routerLink="/targy">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
        <span>Add item</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
    </a>

    <a class="card" routerLink="/ellenseg-krealas">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Add enemy</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>

    <a class="card" routerLink="/live" >
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Live mode</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>

  </div>

  <div class="card-container" *ngIf="showDiv">
  </div>
  <input type="hidden" #selection>
  
  <div class="card-container" *ngIf="showDiv">
    <button class="card card-small" routerLink="/dobokocka" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Dice roll</span>
    </button>

    <button class="card card-small" routerLink="/myhero" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>My hero edit</span>
    </button>

    <button class="card card-small" routerLink="/karakterek" (click)="selection.value = 'pwa'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Heroes</span>
    </button>

    <button class="card card-small" routerLink="/ellensegek" (click)="selection.value = 'dependency'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Enemies</span>
    </button>

    <button class="card card-small" routerLink="/targyak" (click)="selection.value = 'dependency'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Shop</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>N/A</span>
    </button>
  </div>

<router-outlet></router-outlet>
