<div class="toolbar" role="banner">
  <img src="assets/dice.png"
    width="40"
    alt="Angular Logo"
  />
  <h2>Dungeons And Dragons Helper</h2>
    <div class="spacer"></div>
    <div class="github-star-badge" (click)="toggleDiv()">
      <span> </span>
      <a class="circle-link" title="Hide menu" rel="noopener">
        <img src="assets/menu.png" width="51" height="51">
      </a>
  </div>
    
</div> 


<div class="content" role="main">

  <div class="card-container" *ngIf="showDiv">
    <h1>Funkciók</h1>
    </div>
    

  <div class="card-container" *ngIf="showDiv">
    <a class="card" routerLink="/harc">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Harc Szimuláció</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>
    <a class="card" routerLink="/login">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Bejelentkezés</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>
    <a class="card" routerLink="/signup">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Regisztráció</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>
    <a class="card" routerLink="/krealas">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Hős hozzáadása</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>
    <a class="card" routerLink="/targy">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
        <span>Tárgy hozzáadása</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
    </a>

    <a class="card" routerLink="/ellenseg-krealas">
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Ellenség hozzáadása</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>

    <a class="card" routerLink="/live" >
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
      <span>Kaland mód</span>
      <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
    </a>

  </div>

  <div class="card-container" *ngIf="showDiv">
  </div>
  <input type="hidden" #selection>

  <div class="card-container" *ngIf="showDiv">
    <button class="card card-small" routerLink="/dobokocka" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Dobókocka</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Karakterlap</span>
    </button>

    <button class="card card-small" routerLink="/karakterek" (click)="selection.value = 'pwa'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Hősök</span>
    </button>

    <button class="card card-small" routerLink="/ellensegek" (click)="selection.value = 'dependency'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Ellenségek</span>
    </button>

    <button class="card card-small" routerLink="/targyak" (click)="selection.value = 'dependency'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Bolt</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>valami</span>
    </button>
  </div>

<router-outlet></router-outlet>
