<div>
  <button mat-button (click)="switchMode('heroes')">Manage Heroes</button>
  <button mat-button (click)="switchMode('enemies')">Manage Enemies</button>
</div>

<div *ngIf="mode === 'heroes'">
  <h2>Select Hero</h2>
  <ul>
    <li *ngFor="let character of characters" (click)="selectCharacter(character)">
      {{ character.name }}
     <ul>
      <li>Felszerelés:
      <ul>
        <li *ngFor="let item of character.items">
          - {{ item.name }}
          <button (click)="removeItem(character, item.name);$event.stopPropagation();">X</button>
        </li>
      </ul>
    </ul>
    </li>
  </ul>
</div>

<div *ngIf="mode === 'enemies'">
  <h2>Select Enemy</h2>
  <ul>
    <li *ngFor="let enemy of enemies" (click)="selectEnemy(enemy)">
      {{ enemy.name }}
    </li>
  </ul>
</div>

<div *ngIf="selectedCharacter || selectedEnemy">
  <h2>Edit {{ mode === 'heroes' ? 'Hero' : 'Enemy' }}</h2>
  <form [formGroup]="editForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Race</mat-label>
      <input matInput formControlName="race" placeholder="Race">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Class</mat-label>
      <input matInput formControlName="class" placeholder="Class">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>HP</mat-label>
      <input matInput formControlName="hp" type="number" placeholder="HP">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Attack</mat-label>
      <input matInput formControlName="attack" type="number" placeholder="Attack">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Defense</mat-label>
      <input matInput formControlName="defense" type="number" placeholder="Defense">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Story</mat-label>
      <textarea matInput formControlName="story" placeholder="Story"></textarea>
    </mat-form-field>
    <button mat-button (click)="onSave()">Save Changes</button>
    <button mat-button type="button" (click)="onDelete()" class="delete-btn">Delete {{ mode === 'heroes' ? 'Hero' : 'Enemy' }}</button>
  </form>
</div>

