<div>
  <button (click)="switchMode('heroes')">Manage Heroes</button>
  <button (click)="switchMode('enemies')">Manage Enemies</button>
</div>

<div *ngIf="mode === 'heroes'">
  <h2>Select Hero</h2>
  <ul>
    <li *ngFor="let character of characters" (click)="selectCharacter(character)">
      {{ character.name }}
     <ul>
      <li>Felszerelés:
      <ul>
        <li *ngFor="let item of character.items">
          - {{ item.name }}
          <button (click)="removeItem(character, item.name);$event.stopPropagation();">X</button>
        </li>
      </ul>
    </ul>
    </li>
  </ul>
</div>

<div *ngIf="mode === 'enemies'">
  <h2>Select Enemy</h2>
  <ul>
    <li *ngFor="let enemy of enemies" (click)="selectEnemy(enemy)">
      {{ enemy.name }}
    </li>
  </ul>
</div>

<div *ngIf="selectedCharacter || selectedEnemy">
  <h2>Edit {{ mode === 'heroes' ? 'Hero' : 'Enemy' }}</h2>
  <form [formGroup]="editForm">
    <input type="text" formControlName="name" placeholder="Name">
    <input type="text" formControlName="race" placeholder="Race">
    <input type="text" formControlName="class" placeholder="Class">
    <input type="number" formControlName="hp" placeholder="HP">
    <input type="number" formControlName="attack" placeholder="Attack">
    <input type="number" formControlName="defense" placeholder="Defense">
    <textarea formControlName="story" placeholder="Story"></textarea>
    <button (click)="onSave()">Save Changes</button>
    <button type="button" (click)="onDelete()" class="delete-btn">Delete {{ mode === 'heroes' ? 'Hero' : 'Enemy' }}</button>
  </form>
</div>

