    <body>

    <div>
      <h2>Készítsd el a saját karakteredet online!</h2>
      <form id="character-form" [formGroup]="createfrom" (ngSubmit)="onSubmit()">
          <div><label for="charactername">Character name: </label><input type="text" placeholder="Conan" formControlName="charactername"/></div>
          <div><label for="race">Race: </label><input type="text" placeholder="dwarf,elf,human,etc.." formControlName="race"/></div>
          <div><label for="class">class: </label><input type="text" placeholder="warrior,mage,barbar,etc.." formControlName="class"/></div>
          <div><label for="hp">hp: </label><input type="number" placeholder="pl:120" formControlName="hp"/></div>
          <div><label for="attack">attack: </label><input type="number" placeholder="pl:120" formControlName="attack"/></div>
          <div><label for="defense">defense: </label><input type="number" placeholder="pl:120" formControlName="defense"/></div>
          <div><label for="story">story: </label><input type="text" placeholder="Came from long time ago" formControlName="story"/></div>
          <div>
              <button type="submit">Create</button>
          </div>
  </form>
</div>


  
 </body>
