<div>
<a class="card" routerLink="/login">
    <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
    <span>Bejelentkezés</span>
    <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
  </a>
  <a class="card" routerLink="/signup">
    <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 1">
    <span>Regisztráció</span>
    <img src="assets/sword.png" class="material-icons" width="24" height="24" alt="Icon 2">
  </a>
</div>