/* live.component.scss */
.map .row {
    display: flex;
  }

.map {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100%;  /* Adjust based on your needs */
    z-index: 2; /* Higher z-index to ensure it is on top */

  }
  
  .map .row .cell {
    width: 50px;  /* Set to your desired size */
    height: 50px; /* Set to your desired size */
    border: 1px solid #ccc; /* Slight border to see grid lines */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    box-sizing: border-box;
  }

  .map-container {
    position: relative;
    width: fit-content; /* Adjust to fit your map or image size */
    height: fit-content; /* Adjust to fit your map or image size */
  }
  
  .background-image {
    width: 100%; /* Adjust if needed */
    display: block; /* Remove extra space below the image */
    z-index: 1; /* Lower z-index than the map */
  }
  
  .character {
    background-color: #f0f0f0; /* Light background for contrast, adjust as needed */
    border: 1px solid #000; /* Optional, adds definition */
    box-shadow: 0 0 5px #000; /* Optional, adds visibility through shadow */
    cursor: grab;
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: red;
    font-weight: bold;
    font-size: 12px; /* Adjust size as necessary */
    padding: 2px 5px;
  }
  .preview-img {
    width: 100px;  /* Set as needed */
    height: auto;
    margin-top: 10px;  /* Space above the image */
    border: 1px solid #ccc; /* Optional border */
    display: block;
  }
  