<div class="content-wrapper">
  <!-- Chat Component Section -->
  <div class="chat-section">
    <div class="chat-container">
      <div *ngFor="let message of messages" class="messages-display">
        <p>{{ message.senderId }}: {{ message.messageText }}</p>
      </div>
      <div class="chat-inputs">
        <input [(ngModel)]="newMessage" type="text" placeholder="Type a message...">
        <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
        <button mat-raised-button color="warn" (click)="clearChatHistory()">Clear</button>

      </div>
    </div>
  </div>

  <!-- Map Component Section -->
  <div class="map-section">
    <div>
      <input [(ngModel)]="newCharacterName" placeholder="Enter character name" type="text">
      <button mat-raised-button  (click)="addHero()">Add Hero</button>
      <button mat-raised-button  (click)="addEnemy()">Add Enemy</button>
      <button mat-raised-button  (click)="fileInput.click()">Select New Map</button>
      <button mat-raised-button  (click)="saveMap()">Save Map</button>
      <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
    </div>
    <div class="map-container">
      <div class="map" [style.background-image]="'url(' + mapBackgroundUrl + ')'">
        <div *ngFor="let row of map; let i = index" class="row">
          <div *ngFor="let cell of row; let j = index"
               class="cell"
               (drop)="onDrop($event, cell)"
               (dragover)="allowDrop($event)"
               [attr.data-x]="i"
               [attr.data-y]="j">
            <div *ngIf="cell.character"
                 draggable="true"
                 (dragstart)="onDrag($event, cell.character)"
                 class="character">
              {{ cell.character.name }}
              <button class="remove-btn" (click)="removeCharacter(cell)">&#10005;</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
