<body>
    <div>
      <h2>Make your own weapon!</h2>
      <form id="item-form" [formGroup]="createfrom" (ngSubmit)="onSubmit()">
          <div><label for="name">Name: </label><input type="text" placeholder="BFF sword" formControlName="name"/></div>
          <div><label for="attackmodifier">Attackmodifier: </label><input type="number" placeholder="+ or - to your attack" formControlName="attackmodifier"/></div>
          <div><label for="defensemodifier">Defensemodifier: </label><input type="number" placeholder="+ or - to your defense" formControlName="defensemodifier"/></div>
          <div><label for="hpmodifier">Hpmodifier: </label><input type="number" placeholder="+ or - to your hp" formControlName="hpmodifier"/></div>
          <div><label for="price">Price (coin): </label><input type="number" placeholder="pl:120" formControlName="price"/></div>
          <div><label for="minimumlevel">Minimum level: </label><input type="number" placeholder="pl:120" formControlName="minimumlevel"/></div>
          <div><label for="story">Story: </label><input type="text" placeholder="long long time ago" formControlName="story"/></div>
          <div><label for="item-image">Picture: </label><input type="file" id="item-image" (change)="onFileSelected($event)" accept="image/*"></div>
          <div>
              <button type="submit">Create</button>
          </div>
  </form>
</div>
 </body>
