<body>
    <div id="character-form">
        <h2>Dobás a kiválasztott kockával</h2>
        <mat-card>
            <mat-card-header>
                <mat-card-title class="image-wrapper">
                    <img src="assets/dice2.png" height="100px" alt="D20 Dice">
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Kocka kiválasztása</mat-label>
                    <mat-select [(ngModel)]="selectedDice" (selectionChange)="updateMaxValue(selectedDice)">
                        <mat-option value="3">D3</mat-option>
                        <mat-option value="6">D6</mat-option>
                        <mat-option value="12">D12</mat-option>
                        <mat-option value="20" selected>D20</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="generateRandomNumber()">Dobás!</button>
                <h2>{{randomNumber}}</h2>
            </mat-card-content>
        </mat-card>
    </div>
</body>


<!-- ng g c pages/Harc --module app -->
<!-- ng g m pages/Harc --routing -->